

body {
background-image: url('@/assets/cripto.jpg');
background-size: cover; /* Обеспечивает покрытие всего элемента */
background-position: center; /* Центрирует изображение */
    text-align: center;
}

h1 {
    margin-top: 70px;
    font-size: 60px;
    color:white;
    margin-bottom: 20px;
}