* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url('@/assets/wea.jpg');
    background-size: cover; /* Обеспечивает покрытие всего элемента */
    background-position: center; /* Центрирует изображение */
    display: flex;
    justify-content: center;
    align-items: center;
}
